// light mode

$primary-color-light: rgba(31, 35, 35, 0.984);
$secondary-color-light: antiquewhite;
$box-shadow-color-light: #7f965d;
$third-color-light:#03e9f4;

// dark mode
$bg-color: rgba(31, 35, 35, 0.984);

// button next/previous
$button-color: hsl(186 100% 69%)