@import "./variables";

.contact {
  .contact-container {
    width: 50%;
    margin: 0 auto;
  }

  .heading {
    font-size: 3rem;
    margin-top: 10rem;
    text-align: center;
    text-decoration: none;
    font-family: "Kanit", sans-serif;
    font-family: "Poppins", sans-serif;
  }

  h2.heading {
    color: antiquewhite;
    text-decoration: none;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
  }

  ::placeholder {
    color: rgb(53, 50, 50);
  }

  input:hover {
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 10px #03e9f4;
  }

  textarea:hover {
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 10px #03e9f4;
  }

  .contact-form .form-name {
    display: flex;
    gap: 1.2rem;
  }

  .contact-form input[type="text"] {
    width: 100%;
  }

  .contact-form input,
  .contact-form textarea {
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    border: 1px solid hsl(0, 0%, 22%);
    background: antiquewhite;
    color: black;
    font-family: "Kanit", sans-serif;
    font-family: "Poppins", sans-serif;
    text-align: center;
  }

  .btn {
    display: inline-block;
    width: fit-content;
    margin: 0 auto;
    gap: 1rem;
    box-shadow: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
    color: antiquewhite;
    padding: 0.8rem 1rem;
    border: 1px solid hsl(0, 0%, 22%);
    border-radius: 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
    font-family: "Kanit", sans-serif;
    font-family: "Poppins", sans-serif;
    background: black;
    color: antiquewhite;
    transition: all 0.5s ease;
  }

  .btn-txt {
    font-size: 1rem;
    background-color: transparent;
    color: antiquewhite;
    font-weight: 500;
    border: none;
    border-radius: 1rem;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
  }

  .btn-txt:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
    background: #03e9f4;
    color: #050801;
    padding: 0.8rem;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
      0 0 200px #03e9f4;
  }

  .copyright {
    margin-top: 5rem;
    padding: 1px;
    text-align: center;
    color: antiquewhite;
    font-family: "Kanit", sans-serif;
    font-family: "Poppins", sans-serif;
  }

  .lottie {
    width: 350px;
    height: 350px;
  }

  &.light {
    .heading {
      color: $primary-color-light;
    }
    .copyright {
      color: $primary-color-light;
    }
  }
}

@media screen and (min-width: 1600px) {
  .contact {
    .heading {
      font-size: 4rem;
    }

    .lottie {
      width: 400px;
      height: 400px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .contact {
    .lottie {
      width: 300px;
      height: 300px;
    }
  }
}

@media screen and (max-width: 767px) {
  .contact {
    .heading {
      font-size: 2rem;
    }

    .contact-container {
      width: 100%;
      margin: 0 auto;
    }
    .lottie {
      width: 200px;
      height: 200px;
    }

    .contact-container {
      width: 90%;
    }

    .contact-form .btn {
      padding: 13px;
    }

    .copyright {
      font-size:0.75rem;
    }
  }
}
