@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Dancing+Script&family=Kanit:wght@500&family=Poppins&display=swap");
@import "./variables";

.header {
  &.light {
    .header-left {
      color: $primary-color-light;
    }
    .para {
      color: $primary-color-light;
    }
  }
  .header-container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 0.5rem;
    align-items: center;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .header-left {
    color: antiquewhite;
    text-decoration: none;
  }

  .header-left {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 3rem;
    font-size: 2.5rem;
    font-family: "Kanit", sans-serif;
    font-family: "Poppins", sans-serif;
    color: antiquewhite;
  }

  .header-left .text-animate {
    position: relative;
    width: 32.8rem;
  }

  .header-left h3 {
    text-transform: capitalize;
    margin: 0.5rem 0;
    font-family: "Kanit", sans-serif;
    font-family: "Poppins", sans-serif;
    font-size: 2.8rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 0.7px rgb(6, 6, 6);
    background-image: linear-gradient(90deg, black, #03e9f4);
    background-repeat: no-repeat;
    background-clip: text;
    background-position: -33rem 0;
    animation: homebgText 6s linear infinite;
    animation-delay: 2s;
  }

  .header-left h3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid rgba(142, 0, 46, 1);
    z-index: -1;
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s;
  }

  .para {
    margin-right: 4rem;
    font-size: 1rem;
    font-family: "Kanit", sans-serif;
    font-family: "Poppins", sans-serif;
    color: antiquewhite;
  }

  .header-right {
    margin-top: 5rem;
    max-width: 600px;
    margin-left: 0.1rem;
    background-color: antiquewhite;
    border: 1px solid antiquewhite;
    border-radius: 10px;
    overflow: hidden;
  }
  .img-header {
    display: flex;
    align-items: center;
    padding: 10px;
  }

  .user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .username {
    font-weight: bold;
  }

  .header-image {
    width: 100%;
    height: auto;
  }

  .header-caption {
    padding: 10px;
  }

  .header-caption span {
    font-weight: bold;
  }

  .header-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #e1e1e1;

    .header-cv {
      display: flex;
      align-items: center;

      .btns {
        background: black;
        box-shadow: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
        color: antiquewhite;
        padding: 0.5rem 1rem;
        border: 1px solid hsl(0, 0%, 22%);
        border-radius: 1rem;
        cursor: pointer;
        font-family: "Kanit", sans-serif;
        font-family: "Poppins", sans-serif;
        justify-content: center;
      }

      .btns-txt {
        font-size: 1rem;
        background-color: transparent;
        color: antiquewhite;
        font-weight: 500;
        border: none;
        border-radius: 1rem;
        overflow: hidden;
        cursor: pointer;
      }

      .btns-txt:hover {
        transform: scale(1.1);
        transition: all 0.5s ease-in-out;
        background: #03e9f4;
        color: #050801;
        padding: 0.6rem 0.6rem;
        box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
          0 0 200px #03e9f4;
      }

      .faulty-letter {
        opacity: 0.5;
        animation: faulty-flicker 2s linear infinite;
      }

      @keyframes faulty-flicker {
        0% {
          opacity: 0.1;
        }
        2% {
          opacity: 0.1;
        }
        4% {
          opacity: 0.5;
        }
        19% {
          opacity: 0.5;
        }
        21% {
          opacity: 0.1;
        }
        23% {
          opacity: 1;
        }
        80% {
          opacity: 0.5;
        }
        83% {
          opacity: 0.4;
        }

        87% {
          opacity: 1;
        }
      }
    }
  }
}
@keyframes homebgText {
  0%,
  10%,
  100% {
    background-position: -33rem 0;
  }

  65%,
  85% {
    background-position: 0 0;
  }
}

@keyframes homeCursorText {
  0%,
  10%,
  100% {
    width: 0;
  }

  65%,
  78%,
  85% {
    width: 100%;
    opacity: 1;
  }

  75%,
  81% {
    opacity: 0;
  }
}

.imageContainer {
  position: absolute;
  bottom: 5%;
  left: 45%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.imageContainer:hover {
  transform: scale(1.5);
  transition: all 0.5s ease;
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  border-radius: 0.7rem;
}

@media screen and (min-width: 1600px) {
  .header {
    .header-container {
      gap: 10rem;
    }

    .header-left {
      margin-top: 2rem;
      h1 {
        font-size: 4rem;
      }

      .para {
        font-size: 1.5rem;
        margin-bottom: 4rem;
      }
    }

    .container {
      width: 100%;
    }

    section {
      padding: 8rem 0;
    }

    .title {
      width: 70%;
      margin: 0 auto 5rem;
    }

    h1 {
      font-size: 2rem;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    .header-container {
      display: flex;
      flex-direction: column;
    }
    .header-left {
      margin-right: 6rem;
      h1 {
        font-size: 2.8rem;
        text-align: center;
        margin-right: 1.5rem;
      }

      .text-animate {
        font-size: 2.5rem;
        text-align: center;
        margin-left: 5rem;
        margin: auto;
      }

      .para {
        font-size: 1rem;
        text-align: center;
      }
    }

    .header-right {
      width: 100%;
      margin-top: 0.01rem;

      .header-caption {
        font-size: 1.3rem;
        text-align: center;
      }

      .header-actions {
        display: flex;
        transition: color 0.8s ease;

        .btns {
          padding: 0.8rem 1rem;
        }
      }
    }

  }
}

@media screen and (max-width: 767px) {
  .header {
    .header-container {
      display: flex;
      flex-direction: column;
    }
    .header-left {
      margin-right: 6rem;
      h1 {
        font-size: 2rem;
        text-align: center;
      }

      h3 {
        text-transform: capitalize;
        margin: 0.5rem 0;
        font-family: "Kanit", sans-serif;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        color: transparent;
        -webkit-text-stroke: 0.7px rgb(6, 6, 6);
        background-image: linear-gradient(90deg, black, #03e9f4);
        background-repeat: no-repeat;
        background-clip: text;
        background-position: -33rem 0;
        animation: homebgText 3s linear infinite;
        animation-delay: 3s;
      }

      h3::before {
        animation: homeCursorText 10s linear infinite;
        animation-delay: 10s;
      }

      .text-animate {
        font-size: 2rem;
        width: 100%;
        text-align: center;
      }

      .para {
        font-size: 0.9rem;
        text-align: center;
        margin: auto;
      }
    }

    .header-right {
      width: 90%;

      .header-caption {
        font-size: 0.8rem;
        text-align: center;
      }

      .header-actions {
        display: flex;
        transition: color 0.8s ease;

        .btns {
          padding: 0.55rem;
        }
      }
    }

    .imageContainer {
      display: none;
    }
  }
}
