@import "./variables";

.projects {
  margin-top: 11rem;

  .heading {
    font-size: 3rem;
    text-align: center;
    text-decoration: none;
    font-family: "Kanit", sans-serif;
    font-family: "Poppins", sans-serif;
    color: antiquewhite;
  }

  .project-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 7rem;
    margin-left: 2rem;

    .glowing-btn {
      position: relative;
      color: $button-color;
      margin-left: 2rem;
      margin-right: 2rem;
      cursor: pointer;
      padding: 0.38rem 1rem;
      border: 0.15rem solid $button-color;
      border-radius: 0.5rem;
      background: none;
      perspective: 2rem;
      font-family: "Kanit", sans-serif;
      font-family: "Poppins", sans-serif;
      font-size: 2rem;
      font-weight: 900;
      -webkit-box-shadow: inset 0px 0px 0.5rem 0px $button-color,
        0px 0px 0.5rem 0px $button-color;
      -moz-box-shadow: inset 0px 0px 0.5rem 0px $button-color,
        0px 0px 0.5rem 0px $button-color;
      box-shadow: inset 0px 0px 0.5rem 0px $button-color,
        0px 0px 0.5rem 0px $button-color;
      animation: border-flicker 2s linear infinite;
    }

    .glowing-txt {
      text-align: center;
      justify-content: center;
      align-items: center;
      -webkit-text-shadow: 0 0 0.125rem hsl(0 0% 100% / 0.3),
        0 0 0.45rem $button-color;
      -moz-text-shadow: 0 0 0.125rem hsl(0 0% 100% / 0.3),
        0 0 0.45rem $button-color;
      text-shadow: 0 0 0.125rem hsl(0 0% 100% / 0.3), 0 0 0.45rem $button-color;
      animation: text-flicker 3s linear infinite;
    }

    .faulty-letter {
      opacity: 0.5;
      animation: faulty-flicker 2s linear infinite;
    }

    .glowing-btn::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.7;
      filter: blur(1rem);
      transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
      background: $button-color;
      pointer-events: none;
    }

    .glowing-btn::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      z-index: -1;
      background-color: $button-color;
      box-shadow: 0 0 2rem 0.2rem $button-color;
      transition: opacity 100ms linear;
    }

    .glowing-btn:hover {
      color: black;
      text-shadow: none;
      animation: none;
    }

    .glowing-btn:hover .glowing-txt {
      animation: none;
    }

    .glowing-btn:hover .faulty-letter {
      animation: none;
      text-shadow: none;
      opacity: 1;
    }

    .glowing-btn:hover:before {
      filter: blur(1.5rem);
      opacity: 1;
    }

    .glowing-btn:hover:after {
      opacity: 1;
    }

    @keyframes faulty-flicker {
      0% {
        opacity: 0.1;
      }
      2% {
        opacity: 0.1;
      }
      4% {
        opacity: 0.5;
      }
      19% {
        opacity: 0.5;
      }
      21% {
        opacity: 0.1;
      }
      23% {
        opacity: 1;
      }
      80% {
        opacity: 0.5;
      }
      83% {
        opacity: 0.4;
      }

      87% {
        opacity: 1;
      }
    }

    @keyframes text-flicker {
      0% {
        opacity: 0.1;
      }

      2% {
        opacity: 1;
      }

      8% {
        opacity: 0.1;
      }

      9% {
        opacity: 1;
      }

      12% {
        opacity: 0.1;
      }
      20% {
        opacity: 1;
      }
      25% {
        opacity: 0.3;
      }
      30% {
        opacity: 1;
      }

      70% {
        opacity: 0.7;
      }
      72% {
        opacity: 0.2;
      }

      77% {
        opacity: 0.9;
      }
      100% {
        opacity: 0.9;
      }
    }

    @keyframes border-flicker {
      0% {
        opacity: 0.1;
      }
      2% {
        opacity: 1;
      }
      4% {
        opacity: 0.1;
      }

      8% {
        opacity: 1;
      }
      70% {
        opacity: 0.7;
      }
      100% {
        opacity: 1;
      }
    }
  }

  .project-layer {
    position: relative;
    overflow: hidden;
  }

  .project-layer:hover {
    color: #050801;
    border-radius: 1rem;
    background: #03e9f4;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
      0 0 200px #03e9f4;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  }

  .project-layer img {
    width: 100%;
    border-radius: 1rem;
  }

  .project-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: antiquewhite;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.726));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transform: translateY(100%);
    transition: 0.5s ease;
  }

  .project-layer:hover .project-text {
    transform: translateY(0);
  }

  .project-text h2 {
    font-size: 2rem;
  }

  .project-text p {
    font-size: 1rem;
  }

  .url {
    color: antiquewhite;
  }

  .url:hover {
    content: "";
    transform: scale(1.5);
    transition: all 0.5s ease;
    border-radius: 1rem;
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
      0 0 200px #03e9f4;
  }

  &.light {
    .heading {
      color: $primary-color-light;
    }
  }
}
@media screen and (min-width: 1600px) {
  .projects {
    .heading {
      font-size: 4rem;
    }

    .project-box {
      margin-left: auto;
      margin-right: 10rem;
      .glowing-btn {
        margin-left: 5rem;
        display: flex;
      }

      .project-layer {
        width: 90%;
        margin-left: 5rem;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .projects {
    .project-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 6rem ;

      .glowing-btn {
        margin-bottom: 2rem;
        margin-top: 2rem;
        padding: 1rem 1.5rem;
      }

            .glowing-btn:first-child::before {
            content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.7;
      filter: blur(1rem);
      transform: translateY(-120%) rotateX(95deg) scale(1, 0.35);
      background: $button-color;
      pointer-events: none;
      }

       .glowing-btn:first-child::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      z-index: -1;
      background-color: $button-color;
      box-shadow: 0 0 2rem 0.2rem $button-color;
      transition: opacity 100ms linear;
    }

      .glowing-btn:hover {
        background: #03e9f4;
        color: black;
        box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
          0 0 200px #03e9f4;
      }

      .project-layer {
        width: 100%;
      }

      .project-layer:hover {
        transform: scale(1.1);
        transition: all 0.5s ease-in;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .projects {
    .project-box {
      width: 90%;
      margin-left: -1.3rem;
      display: flex;
      flex-direction: column;

      .glowing-btn {
        margin-bottom: 1rem;
        margin-top: 1rem;
      }

      .glowing-btn:first-child::before {
            content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.7;
      filter: blur(1rem);
      transform: translateY(-80%) rotateX(-95deg) scale(1, 0.35);
      background: $button-color;
      pointer-events: none;
      }

      .glowing-txt {
        padding: 0.3rem 0.3rem;
      }
    }

    .project-layer:hover {
      transform: scale(1.1);
      transition: all 0.5s ease;
    }

    .project-text h2 {
      font-size: 1rem;
    }

    .project-text p {
      font-size: 0.9rem;
    }
  }
}
