@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Dancing+Script&family=Kanit:wght@500&family=Poppins&display=swap");

.navbar {
  width: 6rem;
  height: 100vh;
  position: fixed;
  top: 1rem;
  right: 0;
  z-index: 20;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.3rem;
  justify-content: space-evenly;
  cursor: pointer;
  background: transparent;

  .portfolio {
    font-size: 1.2rem;
    text-decoration: none;
    font-family: "Kanit", sans-serif;
    font-family: "Poppins", sans-serif;
    position: fixed;
    top: 0.3rem;
    right: 1rem;
    z-index: 25;
    color: antiquewhite;
    cursor: pointer;
    transition: all 0.5s ease;
    font-family: "Kanit", sans-serif;
    font-family: "Poppins", sans-serif;
  }


  .portfolio span:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
     background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
     border-radius: 0.7rem;
  }

  .navlist {
    padding: 0.1rem;
    font-family: "Kanit", sans-serif;
    font-family: "Poppins", sans-serif;
    list-style-type: none;
  }
  
  .navlist-corners a {
    font-size: 1rem;
    vertical-align: top;
     text-decoration: none;
     color: antiquewhite;
    writing-mode: vertical-lr;
      background: black;
    box-shadow: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
    padding: 0.5rem;
    border: 0.1rem solid hsl(0, 0%, 22%);
    border-radius: 0.8rem;
    transition: all 0.5s ease;
    z-index: 1;
  }

    .navlist-corners a:hover{
  border: none;
         background: #03e9f4;
    color: #050801;
      padding: 1rem 1rem;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect: 0.1rem linear-gradient(transparent, #0005);
  }

  .social-links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-decoration: none;
    list-style: none;
  }

  .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    z-index: 1;
    position: relative;
    color: antiquewhite;
    background:black;
  }

  .social-links a::before {
    content: "";
    position: absolute;
    top: O;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0);
    transition: all 0.5s ease;
  }

  .social-links a:hover {
    transform: scale(1.5);
    transition: all 0.5s ease;
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
  }

  .logo {
    width: 100%;
  }

  .logo:hover{
        background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:left 1px linear-gradient(transparent, #0005);
     border-radius: 3rem;
  }

  .mode {

  .glowing-btn {
    background: black;
    box-shadow: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
    color: antiquewhite;
    padding: .7rem 0.8rem;
    border: 1px solid hsl(0, 0%, 22%);
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
    font-family: "Kanit", sans-serif;
    font-family: "Poppins", sans-serif;

.glowing-txt {
 padding: 10px 3px;
  background-color: transparent;
  color: antiquewhite;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}

.faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}

.glowing-txt:hover {
background: #03e9f4;
    color: #050801;
    padding: 0.8rem;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

  }
}
}

   @media screen and (max-width: 767px) {
  .navbar {
    position: absolute;
  }
}
