@import "./variables";

.skills {
   margin-top: 15rem;

     &.light {
    .heading {
      color: $primary-color-light;
    }
    .divider {
      color: $primary-color-light;
    }
     .skills-set {
      color: $primary-color-light;
    }
    .skill-item {
      color: $primary-color-light;
    }
  }

  .heading {
    font-size: 2.5rem;
    text-align: center;
    text-decoration: none;
    font-family: "Kanit", sans-serif;
    font-family: "Poppins", sans-serif;
    color:antiquewhite;
  }

  .divider {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2rem 0;
    font-family: "Kanit", sans-serif;
    font-family: "Poppins", sans-serif;
    color: antiquewhite;
    border-radius: 1rem;
    box-shadow: 0 0 1rem black;
    border-width: 3px;
    background: transparent;
    position: relative;
    border: 1px solid black;
  }

    .contents {
      margin-left: 1rem;
      .skills-set {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 1.1rem;
        margin-right: 7rem;
        margin-left: 1rem;
        margin-bottom: 0.5rem;

        p {
          font-size: 1rem;
          margin-top: 1rem;
          font-family: "Kanit", sans-serif;
          font-family: "Poppins", sans-serif;
        }

        img {
          width: 100px;
        }
      }

      .skill-item {
        border-radius: 2rem;
        padding: 1rem;
        text-align: center;
        position: relative;
        box-shadow: 10px 10px 15px -3px rgba(0, 0, 0, 0.2),
          -10px -10px 15px -5px rgba(255, 255, 255, 0.1);
        color: antiquewhite;
        background: transparent;
      }

      .skill-item:hover {
        box-shadow: inset 10px 10px 15px -3px rgba(0, 0, 0, 0.2),
          inset -10px -10px 15px -5px rgba(255, 255, 255, 0.1);
      }

      .skill-item:hover {
        transform: scale(1.1);
        transition: transform ease-in 300ms;
       background: #03e9f4;
    color: #050801;
    padding: 0.8rem;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
      }
    }

    @keyframes animatedgradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  }

@media screen and (max-width: 768px) {
.skills {

    .contents {
      text-align: center;
      justify-content: center;
      align-items: center;
.skills-set {
    grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);

        .divider {
          padding: 1rem;
        }

        .skill-item {
          padding: 1rem;
          margin-left: 2rem;

        }
      }
    }
  }
}


@media screen and (min-width: 1600px) {
  .skills {
       margin-top: 15rem;

  .heading {
    font-size: 3rem;
    margin-bottom: 5rem;
  }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
.skills {
    .contents {
      .skills-set {
        margin-top: 5rem;
        grid-template-columns: repeat(2, 1fr 1fr 1fr);
        grid-template-rows: repeat(1, 1fr);

        .divider {
          width: 50%;
          padding: 1rem;
          align-items: center;
          justify-self: center;
        }

        .skill-item {
          padding: 1rem;
        }
      }
    }
  }
}